
.all-good{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.topbar{
    

    height: 120px;
    display: flex;

}
.topbar_Logo{
    display: flex;
    height: 120px;
    text-align: center;
}
.show_user{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 100px;
    display: flex;
}
.Username_topbar{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.topbar_text_user{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;

}
.topbar_text_center{
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 1000;
    color: #17c964;
}
.topbar_block1{
    width: 33%;
    display: flex;
}
.topbar_block2{
    width: 33%;
    display: flex;
}
.topbar_block3{
    width: 33%;
    display: flex;
}
.input_type-text {
    box-sizing: border-box;
    border: 4px solid black;
    outline: none;
    border-radius: 10px;
    width: 250px;
}
.form_location{
    text-align: center;
    margin: 25%;
}
::placeholder {
    text-align: center; 
}
.header_text{
    font-size: 20px;
    font-family:sans-serif;
    text-align: center;
}
.body_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-right-radius :50px; 
    border-bottom-right-radius:50px ;
}
.body_right{
    width: 50%;
    height: 100%;
} 
.Entry_button{
    box-sizing: border-box;
    color: white;
    border: 4px solid #358E4C ;
    text-decoration: none;
    background: #358E4C;
    padding: .5rem 15rem;
    text-decoration: none;
    border-radius: 20px;
    width: 75px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.Entry_button2 :hover {
    background: white;
    color: #111B47;
    transition: all 0.3s ease-out;
}

.space{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
}
.body_flex{
    display: flex;
    height: 100vh;
}
.Logo_Goodde{
    margin-top: 15%;
    size: 300px;
    margin-right: 5%;
    margin-left: 5%;
}