
.container{
    display: flex;
    width: 50%;
    height: 925px;
    transform: translateX(-100px);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #6c6c6c56
}

.left-side2{
    background-color: #6c6c6c56;
    width: 50%;
    height: 925px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.item-right{
    background-color: white;
    width: 50%;
    height: 925px;
}
.item-right .feed{

    width: 805px;
    height: 370px;
    padding-top: 50px;
}

.item-right .bottom{
    
    height: 45vh;
}

.item-right .heads{
    padding-top: 5vh;
    height: 20vh;
}

 .item-right .heads .welcome {
    display: flex;
    width: 650px;
    color: rgb(255, 255, 255);
    padding-left: 250px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #17C964;
    margin-left: 140px;
    margin-top: 20px;
}

.item-right .feed .visitors {
    display: flex;
    width: 500px;
    height: 70px;
    color: rgb(255, 255, 255);
    padding-left: 170px;
    border: 1px  solid;
    border-radius: 10px;
    background-color: #17C964;
    margin-left: 215px;
    margin-top: 20px;
}

.item-right .feed .delivery {
    display: flex;
    width: 500px;
    height: 70px;
    color: rgb(255, 255, 255);
    padding-left: 170px;
    border: 1px  solid;
    border-radius: 10px;
    background-color: #17C964;
    margin-left: 215px;
    margin-top: 70px;
}

.item-right .feed .house {
    display: flex;
    width: 500px;
    height: 70px;
    color: rgb(255, 255, 255);
    padding-left: 170px;
    border: 1px  solid;
    border-radius: 10px;
    background-color: #17C964;
    margin-left: 215px;
    margin-top: 70px;
}



.item-right .heads .block .profile{
    width: 30%;
}

.profilepicture{
    height: 60px;
    width: 60px;
    transform: translateX(-25px);
}


.item-right .bottom .block {
    display: flex;
    width: 1000px;
    border: 1px rgb(187, 255, 0) solid;
}

.item-right .bottom {
    display: flex;
    width: 175px;
    height: 8vh;
    margin-top: 150px;
    color: rgb(255, 255, 255);
    padding-left: 270px;
    border: 1px solid;
    border-radius: 10px;
    background-color:red;
    margin-left: 329px;
}

.feed .visitors .header-btn-create{
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
}

.VisitorsPic {
    width: 50px;
    height: 50px;
}

.feed .visitors .visitors-img{
    margin-top: 5px;
}

.feed .delivery .delivery-img{
    margin-top: 5px;
}

.feed .house .house-img{
    margin-top: 5px;
}

.feed .delivery .header-btn-create{
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
}

.feed .house .header-btn-create{
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
}

.bottom .header-btn-create{
    margin-top: 0px;
    margin-left: -169px;
    font-size: 20px;
}

.heads .welcome {
    margin-right: 10px;
    margin-top: 10px;
 
}

.heads .welcome .land {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.heads .welcome .profile{
    margin-top: 25px;
}


.heads .welcome .land .ben {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
}





