@tailwind base;
@tailwind components;
@tailwind utilities;

/* devanagari */

@layer utilities{
    input,button{
        border: 1px black solid;
    }
}


@layer utilities{
    .select{
        border: 2px black  solid ;
        width: 37%;
        margin-left: 31.5%;
        display: flex;
        flex-direction: column;
        background-color: rgb(149, 149, 247);
    }
}

@layer utilities{
    .div{   
        text-align: center;
        align-content: center;
    }
}
@layer utilities{
    .status{
        background: #e59292;
        width: 300px;
        height: 62px;
        margin-top: 50px;
        align-content: center;
        padding: 10px;
        transform: translateX(44.1%);
        border-radius: 30px;
    }
}
@layer utilities{
    .status Profile{
        white-space: nowrap;
    }
}

@layer utilities{
    .welcome{
        font-size: 14px;
        transform: translateX(30%);
        margin-bottom: 50%;
    }
}

@layer utilities{
    .visitor{
        transform: translateX(207.5px);
        background-color: #e59292;
        width: 150px;
        height: 50px;
        margin-top: 50px;
        text-align: center;
        align-content: center;
        border-radius: 25px;
        cursor: pointer;
    }
}
@layer utilities{   
    .hover-visitor{
        transform: translateX(207.5px);
        background-color: yellowgreen;
        width: 150px;
        height: 50px;
        margin-top: 50px;
        text-align: center;
        align-content: center;
        border-radius: 25px;
        cursor: pointer;
    }
}
@layer utilities{
    .delivery{
        transform: translateX(207.5px);
        background-color: #e59292;
        width: 150px;
        height: 50px;
        margin-top: 50px;
        text-align: center;
        align-content: center;
        border-radius: 25px;
        cursor: pointer;
    }
}

@layer utilities{
    .hover-delivery{
        transform: translateX(207.5px);
        background-color: yellowgreen;
        width: 150px;
        height: 50px;
        margin-top: 50px;
        text-align: center;
        align-content: center;
        border-radius: 25px;
        cursor: pointer;
    }
}

@layer utilities{
    .houseowner{
        transform: translateX(207.5px);
        background-color: #e59292;
        width: 150px;
        height: 50px;
        margin-top: 50px;
        text-align: center;
        align-content: center;
        border-radius: 25px;
        margin-bottom: 50px;
        cursor: pointer;
    }
}

@layer utilities{
    .hover-houseowner{
        transform: translateX(207.5px);
        background-color: yellowgreen;
        width: 150px;
        height: 50px;
        margin-top: 50px;
        text-align: center;
        align-content: center;
        border-radius: 25px;
        margin-bottom: 50px;
        cursor: pointer;
    }
}

@layer utilities{
    .visitor button{
        margin-top: 10%;
    }
}

@layer utilities{
    .delivery button{
        margin-top: 10%;
    }
}

@layer utilities{
    .houseowner button{
        margin-top: 10%;
    }
}
@layer utilities{
    .hover-visitor button{
        margin-top: 10%;
    }
}

@layer utilities{
    .hover-delivery button{
        margin-top: 10%;
    }
}

@layer utilities{
    .hover-houseowner button{
        margin-top: 10%;
    }
}
